@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}
@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff; /* Set a clean white background */
}

.title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: rgb(var(--foreground-rgb));
}
